<html>
  <body>
    <div id="main">
        <table>
          <tr>
            <th></th>
            <th>Product A</th>
            <th>Product B</th>
            <th>Product D</th>
          </tr>
          <tr>
            <th>Title</th>
            <th>thinkpad 1</th>
            <th>thinkpad the second</th>
            <th>thinkpad: thinking boogaloo</th>
          </tr>
          <tr>
            <th>Main Image</th>
            <th><img src="../../assets/bg.jpg"></th>
            <th><img src="../../assets/bg.jpg"></th>
            <th><img src="../../assets/bg.jpg"></th>
          </tr>
          <tr>
            <th>Price</th>
            <th>$9</th>
            <th>$10</th>
            <th>$11</th>
          </tr>
        </table>
    </div>
  </body>
</html>
